body {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: max-content;
    padding: 10px;
    width: 1000px;
    row-gap: 10px;
    column-gap: 10px;
}

.sac {
    display: block;
    padding: 10px;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid rgb(128, 0, 0);
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(200, 128, 128, 0.5);
}

.linkedin img {
    width: 100px;
    height: 100px;
}

.footer {
    display: flex;
    width: 100%;
    text-align: center;
} 