*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    max-width: 1000px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top:50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem; 
    position: absolute;
    background:#fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: 0.1s linear;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child{
    left:-22px;
}

.wrapper i:last-child{
    right:-22px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    gap:1px;
    border-radius:8px ;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel.no-transition{
    scroll-behavior: auto;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img){
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel .card{
    scroll-snap-align: start;
    height: 342px;
    list-style:none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.card {
    width: 200px;
    height: 500px;
    float: left;
    padding: 5px;
    margin-top: 10px;
    border: 5px solid rgb(128, 0, 0);
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(200, 128, 128, 0.5);
    text-align: center;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns:calc((100% / 2) - 9px)
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel{
        grid-auto-columns: 100%;
    }
}
.desconto {
    float: left;
    position: absolute;
    background-color: rgb(128, 0, 0);
    color: white;
    height: 30px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    margin-top: -210px !important;
}

.material-symbols-outlined {
    color: white;
    height: 50px;
    width: 40px;
    text-align: center;
    background-color: none;
}

.card h2 {
    height: 35px;
    font-size: 18px;
}

.images img {
    width: 160px;
    height: 150px;
    margin: 5px 5px 5px 5px;
}

.menuvertical {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: max-content;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgba(200, 128, 128, 0.5);
}


.menuvertical a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.menuvertical a:hover {
    background-color: rgba(128, 0, 0, 0.5);
}

.container {
    display: flex;
    flex-flow: row wrap;
    float: inline-end;
    height: max-content;
    width: 1000px;
    row-gap: 20px;
    flex: 1 0 0;
    column-gap: 20px;
    justify-content: space-evenly;
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;   
}

.texto {
    margin-right: 25px;
}

v1 {
    text-decoration: line-through;
}

v2 {
    color: rgb(128, 0, 0);
    font-weight: 600;
}

.footer {
    display: flex;
    width: 100%;
    text-align: center;
}
